:root {
    --primary-color: #42cdd4;
    --secondary-color: #323363;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #4f4f5a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;    
}

#header-logo {
    width: 100px;
    height: 60px;
}

header h2 {
    background-color: var(--primary-color);
    padding-right: 5px;
}

.navbar {
    text-decoration: underline;
    margin-right: 40px;
    
}

.nav-item {
    margin-left: 10px;
    color: #42cdd4 !important;
}

