/* css variables */
:root {
    --primary-color: #42cdd4;
    --secondary-color: #323363;

}
/* universal styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #4f4f5a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;    
}

.dev-name {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
}

/* adjust size of logo image */
#header-logo {
    width: 100px;
    height: 50px;
}


header h2 {
    background-color: var(--primary-color);
    padding: 6px 5px;
}

.navbar {
    text-decoration: underline;
    margin-right: 40px;
    
}

/* styling for navigation links */
.nav-item {
    margin-left: 10px;
    color: var(--primary-color) !important;
}




@media screen {
    
}