:root{
    --primary-color: #4f4f5a;
    --secondary-color: #fffcf6;
    
} 


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color:var(--primary-color);
}

header  {
    justify-content: space-between;
    background-color:var(--primary-color);
}

.navbar-brand {
    display: flex;
    align-items: center;
    background-color: #0ed0d0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 5px;
    color: black;
    font-size: 2em;
}

.nav-item {
    color: aliceblue !important;
    text-decoration: underline;
    margin-right: 50px;
}

.hero {
    background-image: url(../Images/logo2.png);
    background-size: 100px 110px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#self-image {
    width: 150px;
    height: 150px;
}

.jumbotron {
    background-color: transparent;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    color:var(--secondary-color);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.content {
    margin-bottom: 50px;
}

.content-heading {
    border-right:var(--secondary-color) solid;
}

.card {
    justify-content: space-around;
    width: 100%;
    height: 170px;
    border: solid thick #0ed0d0;
    padding: 0;
    margin: 5px;
    overflow: hidden;
  }

.card * {
    transition: 0.3s ease all;
}

.card a {
    text-decoration: none;
    text-align: center;
    color: #323363;
}

.card img {
    margin: 0;
    object-fit: cover;
    display: block;
}

.card:hover img, .card:focus-within img {
    margin-top: -330px;
}

.card:active img, .card:focus-within img{
    margin-top: none;
}

.card-text {
    position: relative;
    text-align: right;
    top: -25px;
    right: -25px;
    font-size: 50px;
    color:var(--secondary-color);
}

.skills-content {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.contact-items {
    display: flex;
    justify-content: space-around;
}

#projects {
    height: 400px;
}

#projects:hover img, #projects:focus-within img {  
 margin-top: -600px;
}

.about {
    border-top: #0ed0d0 solid;
    display: flex;
    justify-content: center;
}

#about {
    font-size: 36px;
    color:var(--secondary-color);
}

.brand {
    width: 100px;
    height: 50px;
}

li {
    padding: 10px;
}

.bi {
    width: 24px;
    height: 24px;
}

a:hover {
    color:var(--secondary-color);
    background-color:var(--primary-color);
    box-shadow: 1px 2px 10px 0 #555BFF inset;
}

@media only screen and (max-width: 1097px) {
    .card-text {
        position:relative;
        right: 35px;
    }
}

@media only screen and (max-width: 767px) {
    .card-body {
        display: flex;
        justify-content: center;
    }

    .card-text {
        position: inherit;
    }

    .content-heading {
        border-right: none;
    }
}